
  <Section class="commentSection">
    <div class="container">
       
      <div class="col-md-4">
    <div class="cards-list">
      <div class=" card">
        <div class="card_image">
           <a href="/groomer/{{groomer.id}}"></a>
          <h2>{{groomer.name}}</h2>
         <img src="/assets/{{groomer.profilePicture}}"> 
        </div>
        <h5>
          Email: <span>{{groomer.email}}</span><br>
          Phone: <span>{{groomer.phone}}</span><br>
          Motto: <span>{{groomer.motto}}</span>
        </h5>
        
      </div>
       
      </div>
     
    </div>
</div>
<div class="col-md-8">
 <a href="/groomer/{{groomer.id}}/newreview/">➕ New Review</a>

{{> comments groomer.comments}}
     </div>  
  </div>

  </Section>
  
